<div id="shelters" class="row">
  <%= render :partial => "common/page_title", :locals => {:title => "Shelters"} %>

  <div class="span12">
    <ul>
      <% @shelters.each do |shelter| %>
        <li>
          <h4><%= shelter['name'] %></h4>
          <% if shelter['opening_hours'] %>
            <h6>Open now: <i class="<%= shelter['opening_hours']['open_now'] ? 'icon-ok' : 'icon-remove' %>"></i></h6>
          <% end %>
          <address>
            <%= shelter['vicinity'] %>
          </address>
          <button type="submit" class="btn btn-danger" onclick="window.open('https://maps.google.com/maps?ll=<%= "#{shelter['geometry']['location']['lat']},#{shelter['geometry']['location']['lng']}', '_blank')" %>">View Map</button> 
        </li>
      <% end %>
    </ul>
  </div>
</div>
