<div id="landing-page" class="row">
  <div class="span6 offset3">
    <h2>
      Please enter your location
    </h2>

    <%= form_tag(location_by_params_path, :id => 'location_form') do %>
      <%= field_set_tag do %>
        <%= text_field_tag(:zipcode, nil, :placeholder => 'Zipcode') %>

        <span class="help-block" style="text-align: center;">OR</span>

        <%= text_field_tag(:city, nil, :placeholder => 'City') %>

        <select name="state">
          <% state_list(true).each do |s| %>
            <option value="<%= s %>"><%= s %></option>
          <% end %>
        </select>

        <%= submit_tag('Submit', :class => 'btn btn-danger') %>

      <% end %>
    <% end %>
  </div>
</div>
